:root {
    /* COLORS */
    --bg-color: #FFFFFF;
    --border-color: #DCDEE0;

    --text-color-0: #000000;
    --text-color-1: #0F1216;
    --text-color-2: #6D737D;
}

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 1rem;
    font-family: 'Inter';
    line-height: 1.5;
    background-color: var(--bg-color);
}